html, body, #map-canvas {
  height: 450px;
  width:100%;
  padding: 0px;
  top:-17px;
}


#panel {
  position: absolute;
  left: 50%;
  margin-left: -180px;
  z-index: 0;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}