html, body, #map-canvas {
  height: 415px;
  width:100%;
  margin: 0px;
  padding: 0px
}


#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 0;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}